* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font;
    font-size: 15px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#custom-label{
  animation: label 495s infinite;
}

@keyframes label {
    0% {
        color: #46F1FF;
    }
    14.3%{
      color: #46A3FF;
    }
    28.6% {
      color: #CA46FF;
    }
    42.9% {
      color: #FF46DD;
    }
    57.2%{
      color: #FFB346;
    }
    71.5% {
      color: #FEFF46;
    }
    85.8% {
      color: #75FF46;
    } 
    100% {
        color: #46F1FF;
    }
}

#pulseaudio:hover {
    background-color: #AF2F98;
}

#workspaces{
    background-color: rgba(74,74,74,0.5);
    border-radius: 20px;
    padding: 2px;
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 14px;
    color: #ffffff;
}

#workspaces button:hover {
    outline: solid 1px white;
    background-color: #46F1FF;
}

#workspaces button.active{
    background-color: #46F1FF;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-cpu_and_memory{
  background-color: #75FF46;
}

#custom-network_and_bluetooth{
  background-color: #FFB346;
}

#custom-upcheck{
  background-color: #FEFF46;
}

#clock,
#custom-cpu_and_memory,
#custom-network_and_bluetooth,
#custom-upcheck,
#pulseaudio,
#tray,
#mode,
#window,
#workspaces,
#bluetooth {
    padding: 0 10px;
    border-radius: 20px;
    margin-top: 5px;
}

#window{
    background-color: #46A3FF;
}


#clock {
    background-color: #46F1FF;
}

#battery {
    background-color: #ffffff;
}

#battery.charging, #battery.plugged {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

#cpu {
    background-color: #FEFF46;
    color: #000000;
}

#memory {
    background-color: #75FF46;
    color: #000000
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #FFB346;
    color: #000000
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #FF46DD;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #CA46FF;
    color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
